# ignore all
*

# allow directory
!*/

# allow
!/TakeishiBayesianDMD
!/BDMD-VMF
!/NonlinearSimulations
!/data/HuGaDB/*bicycling*

#!*.txt
!*.md
#!*.jld2

!*.jl
!*.py
!*.r
!*.stan

#!*.tex
#!*.cls
#!*.sty
#!*.bib
#!*.bst
#!*.bbl
#!*.log

#!*.svg
#!*.pdf
#!*.png
#!*.jpg
#!*.jpeg
#!*.ai

!.gitignore
