[submodule "TakeishiBayesianDMD"]
	path = TakeishiBayesianDMD
	url = git@github.com:ShounoLab/TakeishiBayesianDMD.git
[submodule "BDMD-VMF"]
	path = BDMD-VMF
	url = git@github.com:ShounoLab/BDMD-VMF.git
[submodule "NonlinearSimulations"]
	path = NonlinearSimulations
	url = git@github.com:ShounoLab/NonlinearSimulations.git
